# OS X
.DS_Store*
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
package-lock.json
*.log
*.gz

# Build targets
release
dev
deploy
build
packages/*/dist
*.tsbuildinfo
packages/*/{src,app}/**/*.d.ts
storybook-static

# Test artefacts
test.*.hl7.json
benchmarks/graphs
coverage
lint-summary.json
coverage.md
lints.md

# Local config files
**/config/local.*
!**/config/local.example

# Hidden files
*.aes
.env
/*.env
.ssh
.tmp
.keys
.tmp
*.csca

# Docker
/dockercfg
/docker-volumes/

# IDEs
.idea

# Output
/packages/central-server/tamanu-reports/

# Env
/packages/mobile/.envrc

# cd-up and cd-down workflows
/ops

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
